body
{
    font-family: Georgia;
    margin: 0;
    color: black;
    background-image: url("img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
  }

[class*="col-"] {
    width: 100%;
  }

header
{ 
    text-align: center;
    background-color: #34c6eb;
    font-size: 45px;
    margin: 0 auto;
    list-style-type: none;
    margin-bottom: 2.5%;
    opacity: 0.8;
}

.nav ul
{
    width: 100%;
    float: left;
    font-size: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    opacity: 0.8;
}

.nav li
{
    background-color: #34c6eb;
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
    text-align: center;
    border-radius: 10px; 
    font-family: "Libre Baskerville", serif; 
}

.nav li:hover
{
    background-color: #0f415e;
}

button{
    width: 100%;
    float: left;
    font-size: 30px;
    list-style-type: none;
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
    border-radius: 10px;
    opacity: 0.8;
    background-color: #34c6eb;
    padding: 0;
    text-align: center;
    border-radius: 10px; 
    font-family: "Libre Baskerville", serif;
}

button:hover{
    background-color: #0f415e;
}

main
{
    color: white;
    text-align: justify;
    font-size: 25px;
    margin: 0;
    padding: 5%;
    border: ridge;
    border-color: black;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

aside
{   
    padding: 15px;
    font-size: 30px;
    background-color: #34c6eb;
    text-align: center;
    border-radius: 10px;
    opacity: 0.8;
}

footer
{
    float: left;
    margin-top: 2%;
    bottom: 0;
    background-color: #34c6eb;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    width: 100%;
}

a:visited
{
 color: black;	
}

a:link
{
    color: black;
}

a:link
{
 text-decoration: none;
}

p{ 
    font-family: "Libre Baskerville", serif; 
    line-height: 45px; 
    text-align: justify; 
    text-shadow: 0 1px 1px #fff; 
    padding-top: 20px; 
}

h1{
    color: #b48608; 
    font-family: 'Droid serif', serif; 
    font-weight: 400; 
    font-style: italic; 
    margin: 0 0 12px; 
    text-align: center;
}

h2{
    color: #34c6eb; 
    font-family: 'Julius Sans One', sans-serif; 
    font-weight: bold; 
    line-height: 32px; 
    margin: 0 0 24px; 
    text-shadow: 1px 1px 1px #082b34;
}

h3{
    color: #34c6eb; 
    font-size: 29px; 
    font-family: "Libre Baskerville", serif; 
    line-height: 45px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
    padding-top: 20px; 
}